@page "/account/register"
@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using TaskApp.Models
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject NavigationManager Navigation

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        <EditForm Model="registerModel" OnValidSubmit="HandleRegister" FormName="registerForm">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />

            <div class="mb-3">
                <label for="name" class="form-label">First Name</label>
                <InputText @bind-Value="registerModel.Name" class="form-control" id="name" />
            </div>

            <div class="mb-3">
                <label for="surname" class="form-label">Last Name</label>
                <InputText @bind-Value="registerModel.Surname" class="form-control" id="surname" />
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <InputText @bind-Value="registerModel.Email" class="form-control" id="email" autocomplete="username" />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <InputText @bind-Value="registerModel.Password" type="password" class="form-control" id="password" autocomplete="new-password" />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </EditForm>

        <hr />
        <p>
            <a href="/account/login">Already have an account? Login</a>
        </p>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    private RegisterModel registerModel { get; set; } = new();
    private string? errorMessage;

    private async Task HandleRegister()
    {
        var user = new User
        {
            UserName = registerModel.Email,
            Email = registerModel.Email,
            Name = registerModel.Name,
            Surname = registerModel.Surname
        };

        var result = await UserManager.CreateAsync(user, registerModel.Password);

        if (result.Succeeded)
        {
            // Can't auto-sign in with InteractiveServer render mode
            // Redirect to login page instead
            Navigation.NavigateTo("/account/login?registered=true", true);
        }
        else
        {
            errorMessage = string.Join(", ", result.Errors.Select(e => e.Description));
        }
    }

    public class RegisterModel
    {
        public string Name { get; set; } = "";
        public string Surname { get; set; } = "";
        public string Email { get; set; } = "";
        public string Password { get; set; } = "";
    }
}
